<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../assets/index.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Renata's Website</title>
</head>

<body>
    <div id="main-container">


        <div id="med-container">
            <h1>{{pageTitle}}</h1>
            <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, voluptas?</h2>
            <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, fugiat cupiditate quaerat enim non
                hic
                unde
                excepturi! Totam quidem libero iusto itaque ut quisquam animi eius. Eum dolore quas saepe illum amet,
                iusto
                minus dolorem alias consectetur enim consequuntur perspiciatis nihil maxime et quibusdam? Eligendi
                repudiandae
                laboriosam provident eius quo?</div>

            <div class="input">

                <input type="text" id="example">
                <button id="action">Click Me!</button>

            </div>

            <div class="footer">
                <a href="./subpage">About Me</a>
                <a href="./subpage">Contact</a>
            </div>
        </div>


    </div>
    <script src="./../js/funct.js"></script>
</body>

</html>